button {
  display: inline-block;
  font-size: 1.4rem;
  color: $color-white;
  background-color: $color-blue;
  padding: .8rem 1.5rem;

  &:hover {
    background-color: rgba($color-blue, .8);
  }
}


.outline-button {
  background-color: transparent;
  color: $color-blue;

  i {
    margin-right: 1rem;
  }

  &:hover {
    background-color: transparent;
    color: rgba($color-blue, .8);
  }

}
