
$color-white: #FFF;
$color-blue: #0276E8;
$color-blue-light: #b5e6fa;
$color-red: #ff360a;

$font-color: #494c4d;

$navbar-height: 8rem;
$navbar-color: $color-white;

$body-color: #F8F9FA;

$card-border-color: rgba(0, 0, 0, .125);

$footer-height: 20rem;
$footer-color: rgba(0, 0, 0, .7);

